/* Spotify-Inspired Dark Theme */
body {
    font-family: 'Circular', Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Style the form container */
form {
    background-color: #181818;
    border: 1px solid #282828;
    padding: 25px;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/* Style form labels and inputs */
label {
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
    color: #b3b3b3;
}

textarea,
select,
input[type="number"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #333;
    background-color: #282828;
    color: #fff;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
}

textarea:focus,
select:focus,
input[type="number"]:focus {
    border-color: #1db954;
    box-shadow: 0 0 8px rgba(29, 185, 84, 0.5);
}

/* Style the submit button */
input[type="submit"] {
    background-color: #1db954;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s, transform 0.2s;
}

input[type="submit"]:hover {
    background-color: #1ed760;
    transform: scale(1.05);
}
